.show_task {
  position: absolute;
  top: 5px;
  left: 5px;
}

.task {
  background-color: #fff;
  border: 2px solid #4caf50;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  top: 50px;
  width: 60%;
  right: 20%;
  display: none;
}

.buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.slidecontainer {
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 60%;
  right: 20%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.editor {
  margin-top: 20px;
}
/* общие правила для всех */
.CodeMirror {
  width: 50%;
  height: 100vh;
}
/* первый блок */
.CodeMirror:nth-child(2) {
  width: 50%;
  height: 100vh;
}
.main {
  display: flex;
  padding-top: 10px;
}
.results {
  background: green;
  width: 20%;
}

.submit-btn {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 4px;
  margin-left: 5px;
  padding: 9px 5px;
  background: #fff;
  color: #30b58b;
  border: 2px solid #30b58b;
  border-radius: 4px;
}

.submit-btn:hover {
  color: #30b58b;
  border: 2px solid #30b58b;
}

.submit-btn:active {
  color: #30b58b;
  border: 2px solid #30b58b;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #45a049;
}

.login-form {
  z-index: 20;
  position: absolute;
  left: 35%;
  top: 30%;
  display: none;

  border-radius: 5px;
  background-color: #f2f2f2;
  border: 2px solid #4CAF50;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .slidecontainer {
    display: none;
  }
  .main {
    display: block;
  }
  /* общие правила для всех */
  .CodeMirror {
    width: 100%;
    height: 50vh;
  }
  /* первый блок */
  .CodeMirror:nth-child(2) {
    width: 100%;
    height: 50vh;
  }
}